* {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    padding: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: rgb(226, 225, 224);
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s;
    border: 1px solid rgba(190, 188, 183, 0);
    font-size: 15px;
}

input:hover {
    transform: translate(0px, -5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 13px 24px;
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(216, 215, 212);
}

button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    background-color: rgb(141, 202, 122);
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s;
    border: 1px solid rgba(190, 188, 183, 0);
    color: white;
    font-size: 15px;
}

button:hover {
    transform: translate(0px, -5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 13px 24px;
    background-color: rgb(158, 218, 154);
    border: 1px solid rgb(144, 214, 129);
    color: rgb(255, 255, 255);
}

button:active {
    transition: 0.3s;
    transform: translate(0px, 3px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 12px;
    background-color: rgb(124, 192, 120);
    border: 1px solid rgb(180, 223, 170);
    color: rgb(255, 255, 255);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
}

.card {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s;
    font-size: 30px;
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(216, 215, 212);
    color: rgb(65, 57, 50);
}

.area {
    margin: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

.area h1 {
    white-space: normal;
    overflow-wrap: anywhere;
}

#keyText {
    font-size: 16px;
}